:root {
  font-family: Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console",
    monospace;
  font-size: 14px;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  font-size: inherit;
}

input[type="range"] {
  min-width: 100%;
}

.drawTarget {
  cursor: crosshair;
}

.controls.loading {
  display: none;
}

.controls {
  border: 1px solid lightgray;
  position: absolute;
  top: 1em;
  left: 1em;
  background-color: rgba(255, 255, 255, 0.9);
}

.buttonGroup,
.fieldGroup,
.stats {
  margin: 1em;
}

.buttonGroup {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5em;
}

.fieldGroup,
.stats {
  padding: 1em;
  border: 1px solid lightgray;
}

.blockLabel,
.labelGroup,
.groupOption {
  display: block;
  margin-bottom: 0.5em;
  margin-left: 0;
}
