body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Avenir, "sans-serif";
}

button {
  font-family: inherit;
  font-size: inherit;
}

#grid {
  cursor: crosshair;
}

.controls {
  border: 1px solid lightgray;
  position: absolute;
  top: 50%;
  left: 1em;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.9);
}

.controls fieldset {
  padding: 1em;
  border: 1px solid lightgray;
}

.gameplay,
#tools,
.settings {
  margin: 1em;
}

.tool,
.settings label {
  display: block;
  margin-top: 0.5em;
}

.tool input {
  margin-left: 0;
}
