body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Avenir, "sans-serif";
}

button {
  font-family: inherit;
  font-size: inherit;
}

input[type="range"] {
  min-width: 100%;
}

.drawTarget {
  cursor: crosshair;
}

.controls.loading {
  display: none;
}

.controls {
  border: 1px solid lightgray;
  position: absolute;
  top: 1em;
  left: 1em;
  background-color: rgba(255, 255, 255, 0.9);
}

.controls fieldset {
  padding: 1em;
  border: 1px solid lightgray;
}

.controlGroup {
  margin: 1em;
}

.blockLabel,
.labelGroup,
.groupOption {
  display: block;
  margin-bottom: 0.5em;
  margin-left: 0;
}

.visuallyhidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
